Please watch this video for better understanding - https://www.youtube.com/watch?v=r3R3h5ly_8g

In [1]:
s1 = set([1,2,3,4,5])
print(s1)

{1, 2, 3, 4, 5}

Intersection can be used to find all common in two sets while difference method can be used to find present in one set and not in other set

set has curly brackets ,so can created using {},set() creates empty set while s1 = {} created empty dictionary

Set removes duplicate values

In [2]:
s1 = {1,2,4,5,6,4,3,2,3,4,1}
print(s1)

{1, 2, 3, 4, 5, 6}

In [3]:
s1.add(7)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

update() is used to add more 1 value

In [4]:
s1.update([8,9,10])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
s2 = {11,12,13}
s1.update([9,10,11],s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

For removing elements we can used remove() or discard() method

In [6]:
s1.remove(10)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [7]:
s1.remove(10)
print(s1)

KeyError: 10

removing an element which does not exists give an error ,this is where discard can be used<br>
discard method removes an element if exists

In [8]:
s1.discard(10)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

Working with intersection,union and other operations

In [9]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

In [10]:
s4 = s1.intersection(s2)
print(s4)

{2, 3}

s4 contains values present if present in both s1 and s2

In [11]:
s4 = s1.intersection(s2,s3)
print(s4)

{3}

In [12]:
s4 = s1.difference(s2)
print(s4)

{1}

Difference method shows value present in s1 but not in s2.<br>
We are running difference method on s1.<br>
s1 - s2<br>
**NOTE**
difference method is not commutative<br>
s1 - s2 != s2 - s1

In [14]:
print(s2.difference(s1,s3))

set()

In [15]:
print(s3.difference(s1,s2))

{5}

Symmetric difference

Symmetric difference return values present on one set but not other or vice versa

In [16]:
print(s1.symmetric_difference(s2))

{1, 4}

In [17]:
print(s2.symmetric_difference(s1))

{1, 4}

In [18]:
l1 = [1,2,3,1,2,3]
l2 = list(set(l1))
print(l1,l2)

[1, 2, 3, 1, 2, 3] [1, 2, 3]

In [19]:
employees = ['Corey','Jim','Steven','April','Judy','Jenn','John','Jane']
gym_members = ['April','John','Corey']
developers = ['Judy','Corey','Steven','Jane','April']

In [21]:
print(set(gym_members).intersection(developers))

{'Corey', 'April'}

Prints employees who are gym and are developers

In [22]:
print(set(employees).difference(developers,gym_members))

{'Jenn', 'Jim'}

prints employees who are neiter developers nor gym_members

In [31]:
if 'Judy' in employees:
    print('Found')

Found

In [32]:
print(set("abcdefaddeeg"))

{'e', 'a', 'd', 'f', 'g', 'b', 'c'}

Finding an element in set is lot faster than finding in list.
O(n) for list and o(1) for set